$border-radius: 5px;
ion-header {
  ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-secondary-contrast);

    ion-buttons {
      ion-button,
      ion-back-button {
        --background: var(--ion-color-primary);
        --background-activated: var(--ion-color-primary);
        --background-activated-opacity: 1;
        --background-focused: var(--ion-color-primary);
        --background-focused-opacity: 1;
        --background-hover: var(--ion-color-primary);
        --background-hover-opacity: 1;
        --border-color: var(--ion-color-primary);
        --border-radius: 8px;
        --border-style: solid;
        --border-width: 8px;
        --color: var(--ion-color-secondary-contrast);
        --color-activated: var(--ion-color-secondary-shade);
        --color-focused: var(--ion-color-secondary-shade);
        --color-hover: var(--ion-color-secondary-shade);
        --opacity: 1;
        --padding-bottom: 4px;
        --padding-end: 4px;
        --padding-start: 4px;
        --padding-top: 4px;
        --ripple-color: var(--ion-color-primary-tint);
        --transition: background-color 15ms linear;
      }
    }
    .header-avatar {
      width: 35px;
      height: 35px;
      background-color: var(--ion-color-light);
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      overflow: hidden;

      ion-img {
        height: 80%;
        width: 80%;
      }
    }
  }
}
ion-content {
  --color: var(--ion-color-secondary-shade);

  .header {
    position: relative;
    height: 30vh;
    .image-bg {
      position: relative;
      height: 30vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .overlay {
      position: absolute;
      top: 0;
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        text-decoration: none;
        color: var(--ion-color-primary);
        ion-icon {
          font-size: 24px;
        }
      }
    }
  }
  .content {
    .sub-header {
      font-weight: 600;
      color: var(--ion-color-primary);
      margin: 0 20px 20px;
      font-size: 20px;
    }
    .trainer {
      margin: 0 20px 20px;
      height: 420px;
    }
    .main-overview {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
      grid-gap: 20px;
      margin: 20px;
    }
    .main-cards {
      column-count: 1;
      column-gap: 20px;
      margin: 20px;
      .card {
        width: 100%;
        margin-bottom: 20px;
        -webkit-column-break-inside: avoid;
        box-sizing: border-box;
        height: 100%;
      }
      /* Force varying heights to simulate dynamic content 
        .card:first-child {
          height: 485px;
        }

        .card:nth-child(2) {
          height: 200px;
        }

        .card:nth-child(3) {
          height: 265px;
        }*/
    }
  }
  .wrapper {
    background-color: var(--ion-color-primary-contrast);
    position: relative;
    border-radius: $border-radius;
    padding: 20px;
    .desc {
      font-weight: 700;
      font-size: 20px;
      color: var(--ion-color-primary);
    }
    .pricing {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        font-weight: 600;
        font-size: 24px;
      }
      h2 {
        font-weight: 400;
        font-size: 16px;
        color: var(--ion-color-warning);
      }
    }
    .container__text__star span {
      font-size: 12px;
      color: var(--ion-color-warning);
      margin: -5px 0 20px;
    }
    p {
      font-size: 12px;
    }
    .container__text__timing {
      display: flex;
      margin: 20px 0 10px;
      font-size: 12px;
      .container__text__timing_time {
        margin-right: 40px;
      }
      h2 {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 700;
        color: var(--ion-color-primary);
      }
    }
  }
}

app-rating,
app-likes {
  display: flex;
  align-items: center;
}
