<div class="sidenav" id="sidenav">
  <ul>
    <li class="center user">
      <img src="assets/img/man-05.svg" alt="User" />
      <p>John Doe</p>
    </li>
    <li class="divider"></li>
    <li class="title">Links</li>
    <li class="item active"><a routerLink="['/home/dashboard']">Dashboard</a></li>
    <li class="item"><a routerLink="['/home/programs']">Programs</a></li>
    <li class="item"><a routerLink="['/home/workouts']">Workouts</a></li>
    <li class="item"><a routerLink="['/home/dashboard']">Settings</a></li>
    <li class="item"><a routerLink="['/home/dashboard']">Support</a></li>
    <!-- <li class="divider"></li>
        <li class="title">Projects</li>
        <li class="item"><a href="#">Project 1</a></li>
        <li class="item"><a href="#">Project 2</a></li>
        <li class="item"><a href="#">Project 3</a></li> -->
  </ul>
</div>
