ion-card.ion-padding.sc-ion-card-md-h.sc-ion-card-md-s.md.hydrated {
    box-shadow: none;
    border: 2px dotted;
    border-radius: 10px;
}

.measurements-container {
    border: 2px solid #aaa;
    border-radius: 5px;
    margin-bottom: 10px;
}

ion-button.ion-color.md.button.button-block.button-outline.ion-activatable.ion-focusable.hydrated {
    margin: 0;
}