<ion-header>
  <ion-toolbar>
    <ion-title>start-exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item-sliding>
      <ion-item>
        <app-user-workout-card [item]="item"></app-user-workout-card>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">
          <ion-icon color="danger" name="trash-outline" size="large"> </ion-icon
        ></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <app-user-workout-card [item]="item"></app-user-workout-card>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">
          <ion-icon color="danger" name="trash-outline" size="large"> </ion-icon
        ></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-card>
    <ion-card-header>
      <h3 text-center>No Scheduled Workouts Yet</h3>
    </ion-card-header>
    <ion-list>
      <ion-item lines="full" routerLink="/app/tabs/workouts">
        View Workouts
      </ion-item>
      <ion-item lines="full" routerLink="/app/tabs/programs">
        View Programs
      </ion-item>
      <ion-item lines="full" routerLink="/app/tabs/trainers">
        View Trainers
      </ion-item>
      <ion-item lines="none" routerLink="/app/tabs/exercises">
        View Exercises
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card *ngIf="!user">
    <ion-card-header>
      <h3 text-center>Not Logged In</h3>
    </ion-card-header>
    <ion-card-content>
      <p>Please Login to Save and Schedule workouts 💪</p>
      <ion-button size="block" routerLink="/login"> Login </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
