<ion-button *ngIf="!request" (click)="onPurchase()">
  Request Meal Plan
</ion-button>

<ng-container *ngIf="request">
  <ng-container [ngSwitch]="request.status">
    <ion-button *ngSwitchCase="'pending'" fill="outline" color="warning">{{request.status | titlecase}} Meal Plan</ion-button>
    <ion-button *ngSwitchCase="'delivered'" (click)="onRequestConfirm()" fill="outline" color="primary">Meal Plan {{request.status | titlecase}}?</ion-button>
    <ion-button *ngSwitchCase="'confirmed'" (click)="onRequestConfirm()" fill="outline" color="success">{{request.status | titlecase}} Meal Plan</ion-button>
    <ion-button *ngSwitchCase="'cancelled'" fill="outline" color="danger">{{request.status | titlecase}} Meal Plan</ion-button>
  </ng-container>
</ng-container>