<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-button appBackbutton><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons> -->
    <ion-buttons color="primary" slot="end">
      <cart-menu-button></cart-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <div class="image-bg">
      <img
        src="{{workout?.image_url || 'assets/img/dashboard.png'}}"
        alt="{{workout?.name}}"
        srcset=""
      />
    </div>
  </div>
  <div class="container">
    <div class="pricing">
      <h1>{{workout?.name}}</h1>
      <h2>
        <span *ngIf="!workout?.price">Free</span>
        <span *ngIf="workout?.price">{{ workout?.price | currency }}</span>
      </h2>
    </div>

    <div class="container__text__timing">
      <ion-button
        *ngIf="workout.purchased || !workout.price"
        routerLink="/session/{{workout.id}}"
      >
        <ion-icon name="play"></ion-icon>
        Start
      </ion-button>
      <ion-button
        *ngIf="workout.purchased || !workout.price"
        (click)="onSchedule()"
      >
        <ion-icon name="calendar"></ion-icon>
        Schedule
      </ion-button>
      <add-to-cart-button
        *ngIf="!workout.purchased && workout.price"
        [item]="purchase"
      ></add-to-cart-button>
    </div>

    <h1 class="desc">Description</h1>
    <p>{{workout?.description}}</p>
    <div class="container__text__timing">
      <div class="container__text__timing_time">
        <app-rating
          [targetId]="workout?.id"
          targetType="workout"
          [targetName]="workout?.name"
        ></app-rating>
      </div>
      <div class="container__text__timing_time">
        <app-like
          [targetId]="workout?.id"
          targetType="workout"
          [targetName]="workout?.name"
        ></app-like>
      </div>
    </div>
    <div class="container__text__timing">
      <div class="container__text__timing_time">
        <h2>Meal Plan</h2>
        <meal-plan-request-button
          *ngIf="workout.has_meal_plan;else sorry"
          [item]="mealPlanPurchase"
        ></meal-plan-request-button>
        <ng-template #sorry>
          <p>No meal plan available!</p>
        </ng-template>
      </div>
    </div>
    <h1 class="desc">Trainer</h1>
    <p>{{ workout?.trainer?.name || "Takunda Mujuru" }}</p>
    <div class="trainer" *ngIf="workout?.trainer">
      <app-trainer-profile
        [trainer]="workout?.trainer"
        [hover]="hover$"
        (clicked)="hover(workout?.trainer.id)"
      ></app-trainer-profile>
    </div>
    <div class="container__text__timing">
      <ion-row
        *ngIf="workout?.user"
        style="margin-top: 1rem"
        routerLink="/app/tabs/users/user/{{workout.user.id}}"
      >
        <ion-col size="2">
          <ion-avatar
            *ngIf="!offline"
            style="width: 3rem; height: 3rem; border: 2px solid #c4bbbb"
          >
            <img [src]="workout.user.image_url" />
          </ion-avatar>
        </ion-col>
        <ion-col>
          <h3>{{workout.user.name}}</h3>
          <p>User Authored</p>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div
    class="content"
    *ngIf="workout?.ordered_exercises?.length && ( workout.purchased || !workout.price )"
  >
    <div class="sub-header">Exercises</div>
    <div class="main-cards">
      <div class="card">
        <app-exercise-card
          *ngFor="let item of workout?.ordered_exercises"
          [item]="item"
          (clicked)="goToDetailPage(item)"
        ></app-exercise-card>
      </div>
    </div>
  </div>
</ion-content>
