<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="sidenavOpen()">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!myPrograms || !myPrograms?.length">Programs</ion-title>
    <ion-segment *ngIf="myPrograms?.length" [(ngModel)]="segment">
      <ion-segment-button value="all"> All </ion-segment-button>
      <ion-segment-button value="mine"> Personal </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="end">
      <cart-menu-button></cart-menu-button>
      <ion-button (click)="onAddProgram()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <!-- <ion-button (click)="presentFilter()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-menu
  contentId="main-content-prog"
  menuId="menu-content-prog"
  side="start"
  type="overlay"
>
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Awesome avocado menu</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-content>
    <div class="sidenav" id="sidenav">
      <ul>
      <li class="user">
          <div class="text-center">
            <img [src]="user?.photoUrl ||'assets/img/man-05.svg'" alt="User" />
            <p>{{user?.name || 'John Doe'}}</p>
          </div>
        </li>
        <li class="divider"></li>
        <li
          *ngFor="let item of appPages"
          class="item"
          [ngClass]="item.title === page ? 'active': ''"
        >
          <a routerLink="{{item.url}}">{{item.title}}</a>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-menu>
<ion-content id="main-content-prog" [ngSwitch]="segment">
  <ng-container *ngSwitchCase="'mine'">
    <my-program-list></my-program-list
  ></ng-container>

  <ng-container *ngSwitchDefault>
    <program-list></program-list>
  </ng-container>
</ion-content>
