<ion-content>
<div class="header">
    <div class="image-bg">
      <img src="{{workout?.image_url}}" alt="{{workout?.name}}" srcset="" />
    </div>
    <div class="overlay">
      <a routerLink="/home/dashboard">
        <ion-icon slot="start" name="arrow-back"></ion-icon
      ></a>
    </div>
  </div>
  <div class="container">
    <div class="pricing">
      <h2>{{workout?.name}}</h2>
      <h1><sup>$</sup>{{workout?.price|number:'1.2'}}</h1>
      <!-- <h1><sup>$</sup>3.00</h1> -->
    </div>
    <h1 class="desc">Description</h1>
    <p>{{workout?.description}}</p>
    <div class="container__text__timing">
      <!-- <div class="container__text__timing_time">
        <h2>Hands-on Time</h2>
        <p>30 min</p>
      </div> -->
      <div class="container__text__timing_time">
        <h2>Total Time</h2>
        <p>40 days</p>
      </div>
      <div class="container__text__timing_time">
        <h2>kCal</h2>
        <p>40</p>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="sub-header">Exercises</div>
    <div class="main-cards">
      <div class="card">
        <app-exercise-card
          *ngFor="let item of exercises$"
          [item]="item"
          (clicked)="goToDetailPage(item.id)"
        ></app-exercise-card>
      </div>
    </div>
  </div>
</ion-content>
