<ion-content>
  <div class="header">
    <div class="image-bg">
      <img src="{{workout?.image_url}}" alt="{{workout?.name}}" srcset="" />
    </div>
    <div class="overlay">
      <ion-buttons slot="start">
        <ion-button appBackbutton>
          <ion-icon
            slot="icon-only"
            color="primary"
            name="arrow-back"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons>
        <ion-button>
          <ion-icon slot="icon-only" color="primary" name="heart"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>
  <div class="container">
    <div class="pricing">
      <h2>{{workout?.name}}</h2>
      <h1 *ngIf="!workout.purchased && workout.price">
        <span *ngIf="!workout?.price">Free</span>
        <span *ngIf="workout?.price">{{ workout?.price | currency }}</span>
      </h1>
      <!-- <h1><sup>$</sup>3.00</h1> -->
    </div>
    <h1 class="desc">Trainer</h1>
    <p>{{ workout?.trainer?.name || "Takunda Mujuru" }}</p>
    <h1 class="desc">Description</h1>
    <p>{{workout?.description}}</p>
    <div class="container__text__timing">
      <!-- <div class="container__text__timing_time">
        <h2>Hands-on Time</h2>
        <p>30 min</p>
      </div> -->
      <div class="container__text__timing_time">
        <h2>Meal Plan</h2>
        <p *ngIf="workout?.has_meal_plan;else sorry">Yes</p>
        <ng-template #sorry>
          <p>No meal plan available!</p>
        </ng-template>
      </div>
      <div *ngIf="workout?.has_meal_plan" class="container__text__timing_time">
        <h2>Meal Plan Price</h2>
        <span><sup>$</sup>{{workout?.meal_plan_price|number:'1.2'}}</span>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="sub-header">Exercises</div>
    <div class="main-cards">
      <div class="card">
        <app-exercise-card
          *ngFor="let item of workout?.ordered_exercises"
          [item]="item"
          (clicked)="goToDetailPage(item)"
        ></app-exercise-card>
      </div>
    </div>
  </div>
</ion-content>
