.avatar {
    z-index: 1;
    margin-bottom: -3.5rem;
    margin-top: 2rem;
    position: relative;
    border: 2px solid #bbbbbb;
    width: 6rem;
    height: 6rem;
  }

  a {
    text-decoration-line: none;
}