<div class="card animated fadeIn">
  <div class="card-header">Thumbnail</div>
  <div class="card-body">
    <div class="row">
      <div *ngFor="let image of images$ | async" class="col-md-12">
        <i class="fa fa-times-circle text-danger delete-image" (click)="onDelete(image)"></i>
        <img [src]="image.url" [alt]="image.name" class="img-thumbnail mb-4">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input type="file" (change)="uploadFile($event)">
      </div>
    </div>
  </div>
</div>