<ion-content>
  <!-- <div class="card-mobile">
    <div class="header">
      <div class="font-size-60">
        <ion-icon name="bicycle" color="light"></ion-icon>
      </div>
      <div>
        <span
          class="d-block font-weight-lighter font-size-60 text-white line-height-1 mt-4"
          >3698</span
        >
        <span class="d-block font-weight-lighter font-size-14 text-white mb-4"
          >Steps yesterday</span
        >
        <span class="d-block font-weight-lighter font-size-12 text-yellow"
          >Friday, 01 Jul 2020</span
        >
      </div>
    </div>
    <div class="chart">
      <canvas #lineCanvas></canvas>
    </div>
    <div class="row no-gutters list-option-activity align-items-center">
      <div class="col-auto">
        <div class="rounded-circle list-option-activity-dot">
          <i class="fas fa-shoe-prints text-white"></i>
        </div>
      </div>
      <div class="col row no-gutters ml-3">
        <div class="col-12">
          <span class="d-block text-white font-size-14">Walk 8 min</span>
          <span class="d-block text-yellow font-size-12"
            >Place in Fundidora Park</span
          >
        </div>
      </div>
    </div>
  </div> -->
</ion-content>
