<ion-content>
  <div class="header">
    <div class="image-bg">
      <img src="{{exercise?.image_url}}" alt="{{exercise?.name}}" srcset="" />
    </div>
    <div class="overlay">
      <ion-buttons slot="start">
        <ion-button appBackbutton>
          <ion-icon
            slot="icon-only"
            color="primary-shade"
            name="arrow-back"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
      <!-- <ion-buttons>
        <ion-button>
          <ion-icon
            slot="icon-only"
            color="primary-shade"
            name="heart"
          ></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </div>
  </div>
  <div class="container">
    <div class="pricing">
      <h2>{{exercise?.name}}</h2>
      <!-- <h1><sup>$</sup>{{exercise?.price|number:'1.2'}}</h1> -->
    </div>
    <h1 class="desc">Description</h1>
    <p>{{exercise?.description}}</p>
    <div class="container__text__timing">
      <!-- <div class="container__text__timing_time">
        <h2>Hands-on Time</h2>
        <p>30 min</p>
      </div> -->
      <div class="container__text__timing_time">
        <h2>Total Sets</h2>
        <p>{{exercise?.totalSets}}</p>
      </div>
      <div class="container__text__timing_time">
        <h2 style="text-transform: capitalize">
          {{exercise?.measurements[0].name}}
        </h2>
        <p>
          {{exercise?.measurements[0].default}}
          {{exercise?.measurements[0].unit}}
        </p>
      </div>
    </div>
    <!-- <div class="start-exercise">
      <div class="countdown">
       <app-countdowntimer [time]="0.5" (countdowntimer)="getCountdowntimer($event)"></app-countdowntimer>
      </div>
    </div> -->
  </div>
</ion-content>
