<ion-content>
  <div class="header">
    <div class="image-bg">
      <img src="{{exercise?.image_url}}" alt="{{exercise?.name}}" srcset="" />
    </div>
    <div class="overlay">
      <a routerLink="/home/dashboard">
        <ion-icon slot="start" name="arrow-back"></ion-icon
      ></a>
    </div>
  </div>
  <div class="container">
    <div class="pricing">
      <h2>{{exercise?.name}}</h2>
      <!-- <h1><sup>$</sup>{{exercise?.price|number:'1.2'}}</h1> -->
    </div>
    <h1 class="desc">Description</h1>
    <p>{{exercise?.description}}</p>
    <div class="container__text__timing">
      <!-- <div class="container__text__timing_time">
        <h2>Hands-on Time</h2>
        <p>30 min</p>
      </div> -->
      <div class="container__text__timing_time">
        <h2>Reps</h2>
        <p>{{exercise?.reps}}</p>
      </div>
      <div class="container__text__timing_time">
        <h2>kCal</h2>
        <p></p>
      </div>
    </div>
  </div>
</ion-content>
