<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="sidenavOpen()">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-menu
  contentId="main-content-prof"
  menuId="menu-content-prof"
  side="start"
  type="overlay"
>
  <ion-content>
    <div class="sidenav" id="sidenav">
      <ul>
         <li class="user flex justify-center items-center">
          <div class="text-center">
            <img [src]="user?.photoUrl ||'assets/img/man-05.svg'" alt="User" />
            <p>{{user?.name || 'John Doe'}}</p>
          </div>
        </li>
        <li class="divider"></li>
        <li
          *ngFor="let item of appPages"
          class="item"
          [ngClass]="item.title === page ? 'active': ''"
        >
          <a routerLink="{{item.url}}">{{item.title}}</a>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-menu>
<ion-content id="main-content-prof">
  <div class="app">
    <header class="header" role="banner">
      <div class="header-item__img">
        <img [src]="user?.image_url || 'assets/img/dashboard.png'" />
        <h2>{{user?.name}}</h2>
      </div>
    </header>
    <main class="main" role="main">
      <div class="main__wrapper">
        <div class="icons">
          <div class="tab-icon" (click)="tabRoute('Basic Info')">
            <ion-icon slot="icon-only" name="person"></ion-icon>
          </div>
          <div class="tab-icon" (click)="tabRoute('Goals')">
            <ion-icon slot="icon-only" name="medal"></ion-icon>
          </div>
          <div class="tab-icon" (click)="tabRoute('Likes')">
            <ion-icon slot="icon-only" name="thumbs-up"></ion-icon>
          </div>
          <div class="tab-icon" (click)="tabRoute('Reviews')">
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </div>
        </div>
        <div class="main__panel  {{tab === 'Basic Info'? 'flex': 'none'}}">
          <ion-list>
            <ion-item>
              <ion-icon
                slot="start"
                color="medium"
                name="information-circle-outline"
              ></ion-icon
              >{{user?.name}}
            </ion-item>
            <ion-item>
              <ion-icon
                slot="start"
                color="medium"
                name="information-circle-outline"
              ></ion-icon
              >{{user?.phone}}
            </ion-item>
            <ion-item>
              <ion-icon
                slot="start"
                color="medium"
                name="information-circle-outline"
              ></ion-icon
              >{{user?.dob | date}}
            </ion-item>
            <ion-item>
              <ion-icon
                slot="start"
                color="medium"
                name="information-circle-outline"
              ></ion-icon
              >{{user?.height}}m height
            </ion-item>
            <ion-item lines="none">
              <ion-icon
                slot="start"
                color="medium"
                name="information-circle-outline"
              ></ion-icon
              >{{user?.weight}}kg weight
            </ion-item>
          </ion-list>
          <div class="main__panel--footer">Basic Info</div>
        </div>
        <div class="main__panel {{tab === 'Goals'? 'flex': 'none'}}">
          <ion-list>
            <ion-item
              *ngFor="let cat of user?.categories; let i = index"
              [lines]="i === (user?.categories?.length - 1) ? 'none' : ''"
            >
              <ion-icon
                slot="start"
                color="medium"
                name="information-circle-outline"
              ></ion-icon
              >{{cat.name}}
            </ion-item>
          </ion-list>
          <div class="main__panel--footer">Goals</div>
        </div>
        <div class="main__panel  {{tab === 'Likes'? 'flex': 'none'}}">
          <ion-list>
            <ion-item *ngFor="let like of likes">
              <ion-icon
                (click)="deleteLike(like)"
                name="thumbs-up"
                slot="start"
              ></ion-icon>
              <ion-label
                >{{like.name}}&nbsp;
                <span style="color: #aaaaaa"
                  >({{like.type | titlecase}})</span
                ></ion-label
              >
            </ion-item>
          </ion-list>
          <div class="main__panel--footer">Likes</div>
        </div>

        <div class="main__panel  {{tab === 'Reviews'? 'flex': 'none'}}">
          <!-- <ion-list>
            <ion-item>
              <ion-label>Ooops, sorry page still under</ion-label>
            </ion-item>
          </ion-list> -->
          <div class="main__panel--footer">Reviews</div>
        </div>
      </div>
    </main>
  </div>
</ion-content>
