<div class="container" (click)="clicked.emit()">
  <div class="container__image">
    <img src="{{item.image_url}}" alt="{{item.image_url}}" />
  </div>

  <div class="container__text">
    <div class="pricing">
      <h1>{{item?.name}}</h1>
      <!-- <h2><sup>$</sup>{{item?.price|number:'1.2'}}</h2> -->
    </div>
    <app-rating [rating]="5"></app-rating>
    <div class="likes">
      <div class="likes-content">
        <ion-icon name="heart-outline"></ion-icon>
        4.7k
      </div>
    </div>
  </div>
</div>
