$border-radius: 8px;
* {
  margin: 0px;
}
.container {
  background-color: var(--ion-color-secondary-contrast);
  position: relative;
  display: grid;
  grid-template-columns: 25% 75%;
  border-radius: $border-radius;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.356);
  margin-bottom: 20px;

  .container__image {
    width: 25vw;
    height: 25vw;
    img {
      width: 100%;
      height: 100%;
      border-radius: $border-radius 0 0 $border-radius;
      object-fit: cover;
      object-position: center;
    }
  }

  .container__text {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    .pricing {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        font-weight: 600;
        font-size: 20px;
      }
      h2 {
        font-weight: 400;
        font-size: 14px;
        width: 50px;
        color: #ffa800;
      }
    }
    .likes {
      font-size: 12px;
      font-weight: 700;
      .likes-content {
        padding: 1px 0;
        ion-icon {
          color: #ffa800;
        }
      }
      span {
        margin-left: 12px;
      }
    }
  }
}
