<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button
        class="text-orange-600 hover:bg-orange-600 hover:!text-slate-50"
        tab="dashboard"
      >
        <ion-icon
          name="home-outline"
          role="img"
          class="md hydrated"
          aria-label="home-outline"
        ></ion-icon>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated"
          >Dashboard</ion-label
        >
      </ion-tab-button>
      <ion-tab-button
        class="text-orange-600 hover:bg-orange-600 hover:!text-slate-50"
        tab="programs"
      >
        <ion-icon
          name="fitness"
          role="img"
          class="md hydrated"
          aria-label="fitness"
        ></ion-icon>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated"
          >Programs</ion-label
        >
      </ion-tab-button>
      <ion-tab-button
        class="text-orange-600 hover:bg-orange-600 hover:!text-slate-50"
        tab="workouts"
      >
        <ion-icon
          name="fitness"
          role="img"
          class="md hydrated"
          aria-label="fitness"
        ></ion-icon>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated"
          >Workouts</ion-label
        >
      </ion-tab-button>
      <ion-tab-button
        class="text-orange-600 hover:bg-orange-600 hover:!text-slate-50"
        tab="history"
      >
        <ion-icon
          name="calendar"
          role="img"
          class="md hydrated"
          aria-label="calendar"
        ></ion-icon>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated"
          >History</ion-label
        >
      </ion-tab-button>
      <ion-tab-button
        class="text-orange-600 hover:bg-orange-600 hover:!text-slate-50"
        tab="exercises"
      >
        <ion-icon
          name="person"
          role="img"
          class="md hydrated"
          aria-label="person"
        ></ion-icon>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated"
          >Profile</ion-label
        >
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
