<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="sidenavOpen()">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Exercises</ion-title>
    <!-- <ion-segment [(ngModel)]="segment" (ionChange)="updateList()">
      <ion-segment-button value="all">
        All Exercises
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment> -->

    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-menu
  contentId="main-content-exe"
  menuId="menu-content-exe"
  side="start"
  type="overlay"
>
  <ion-content>
    <div class="sidenav" id="sidenav">
      <ul>
         <li class="user flex justify-center items-center">
          <div class="text-center">
            <img [src]="user?.photoUrl ||'assets/img/man-05.svg'" alt="User" />
            <p>{{user?.name || 'John Doe'}}</p>
          </div>
        </li>
        <li class="divider"></li>
        <li
          *ngFor="let item of appPages"
          class="item"
          [ngClass]="item.title === page ? 'active': ''"
        >
          <a routerLink="{{item.url}}">{{item.title}}</a>
        </li>

        <!-- <li class="divider"></li>
        <li class="title">Projects</li>
        <li class="item"><a href="#">Project 1</a></li>
        <li class="item"><a href="#">Project 2</a></li>
        <li class="item"><a href="#">Project 3</a></li> -->
      </ul>
    </div>
  </ion-content>
</ion-menu>
<ion-content id="main-content-exe">
  <div class="searchbar">
    <app-searchbar
      (searchText)="onSearch($event)"
      [placeholder]="Search"
    ></app-searchbar>
  </div>

  <ion-list>
    <ion-item
      *ngFor="let exercise of exercises"
      (click)="goToDetailPage(exercise.id)"
    >
      <div slot="start" class="image">
        <img [src]="exercise?.image_url || 'assets/img/dashboard.png'" />
      </div>
      <h3>{{exercise?.name}}</h3>
    </ion-item>
  </ion-list>
</ion-content>
