<div class="card" [ngClass]="{hover: hover.id === trainer.id && hover.active}" (click)="clicked.emit()">
  <div class="image-box">
    <img src="{{ trainer?.image_url }}" />
  </div>
  <ul class="social-icons">
    <li>
      <a (click)="window.open(trainer?.facebook, '_system', 'location=yes')"
        ><ion-icon name="logo-facebook"></ion-icon
      ></a>
    </li>
    <li>
      <a (click)="window.open(trainer?.twitter, '_system', 'location=yes')"
        ><ion-icon name="logo-twitter"></ion-icon
      ></a>
    </li>
    <li>
      <a (click)="window.open(trainer?.linkedin, '_system', 'location=yes')"
        ><ion-icon name="logo-linkedin"></ion-icon
      ></a>
    </li>
    <li>
      <a (click)="window.open(trainer?.instagram, '_system', 'location=yes')"
        ><ion-icon name="logo-instagram"></ion-icon
      ></a>
    </li>
  </ul>
  <div class="card-details">
    <div class="profile">
      <h1>{{trainer?.name}}</h1>
      <a
        class="visit-profile"
        href="/app/tabs/trainers/trainer/{{trainer?.id}}"
      >
        <h2>profile</h2>
        <ion-icon name="arrow-forward"></ion-icon>
      </a>
    </div>
    <h1 class="desc">Bio:</h1>
    <p>{{trainer?.description}}</p>
  </div>
</div>

<!-- <ng-template #sorry>
  No trainer available!
</ng-template> -->
