<ion-item-sliding>
  <ion-item (click)="goToDetailPage(workout.id)" class="container">
    <div slot="start" class="image">
      <img
        src="{{ workout?.image_url || 'assets/img/placeholder.png' }}"
        alt="{{ workout?.name }}"
      />
    </div>
    <div class="container">
      <div class="title">
        <h1>{{ workout?.name }}</h1>
        <h2>
          <span>Owned</span>
        </h2>
      </div>

      <div class="reviews">
        <app-rating
          [targetId]="workout?.id"
          targetType="workout"
          [targetName]="workout?.name"
          (disabledPage)="(true)"
        ></app-rating>
        <app-like
          [targetId]="workout?.id"
          targetType="workout"
          [targetName]="workout?.name"
          (disabledPage)="(true)"
        ></app-like>
      </div>
    </div>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="secondary" (click)="onCreate(workout)">
      <ion-icon color="secondary" name="create" size="large"> </ion-icon>
    </ion-item-option>
    <ion-item-option color="danger" (click)="onDelete()">
      <ion-icon color="danger" name="trash-outline" size="large"> </ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
