input.native-input.sc-ion-input-md {
    font-weight: bolder;
}

ion-select {
    font-weight: bolder;
}

hr {
    border-bottom: 1px solid #ddd;
}

.like {
    color: yellow;
}

ion-row {
    width: 100%
}

$popover-md-width: 320px;
$popover-ios-width: 320px;
$popover-wp-width: 320px;

.button-label{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.hidden {
    display: none;
}

.action-sheet-title.sc-ion-action-sheet-md {
    height: initial;
}