.rating {
  color: var(--ion-color-warning);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .container__text__star ion-icon,
  .container__text__star i,
  span {
    font-size: 0.8rem;
  }
  .container__text__star ion-icon {
    color: var(--ion-color-warning);
  }
  span {
    margin-left: 12px;
    font-size: 0.8rem;
    font-weight: 600;
  }
}
.hidden {
  display: none;
}
.flex {
  display: flex;
}
