<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="sidenavOpen()">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Queries</ion-title>
  </ion-toolbar>
</ion-header>
<ion-menu
  contentId="main-content-queries"
  menuId="menu-content-queries"
  side="start"
  type="overlay"
>
  <ion-content>
    <div class="sidenav" id="sidenav">
      <ul>
        <li class="center user">
          <img [src]="user?.photoUrl ||'assets/img/man-05.svg'" alt="User" />
          <p>{{user?.name || 'John Doe'}}</p>
        </li>
        <li class="divider"></li>
        <li
          *ngFor="let item of appPages"
          class="item"
          [ngClass]="item.title === page ? 'active': ''"
        >
          <a routerLink="{{item.url}}">{{item.title}}</a>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-menu>
<ion-content id="main-content-queries">
  <ion-list>
    <ion-item *ngFor="let query of queries">
      <ion-label>{{query.message}}</ion-label>
      <ion-badge color="dark" slot="end"
        >{{query.resolved ? 'Resolved' : 'Unresolved'}}</ion-badge
      >
    </ion-item>
  </ion-list>
</ion-content>
