* {
  margin: 0;
  padding: 0;
}
.wrapper {
  height: 165px;
  width: calc(100vw - 40px);
  box-shadow: inset 0px -20px 100px 10px rgba(0, 0, 0, 0.7);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.container {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.modal {
  //background-color: rgba(51, 65, 85, 0.25);
  color: var(--ion-color-secondary-contrast);
  font-family: sans-serif;
  line-height: 1.5;
  width: 100%;
  padding: 10px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  .container__text {
    .pricing,
    .likes {
      display: flex;
      align-items: center;
    }
    .pricing {
      justify-content: space-between;
    }
    .likes {
      justify-content: flex-start;
    }
    .pricing {
      h2 {
        font-weight: 500;
        font-size: 12px;
        //color: var(--ion-color-warning);

        color: var(--ion-color-warning);
      }
      h1 {
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
      }
    }
    .likes {
      font-size: 12px;
      font-weight: 700;
      .likes-content {
        ion-icon {
          color: var(--ion-color-warning);
        }
      }
      span {
        margin-left: 12px;
      }
    }
  }
}

// @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
//   .modal {
//     -webkit-backdrop-filter: blur(10px);
//     backdrop-filter: blur(10px);
//     background-color: rgba(51, 65, 85, 0.25);
//   }
//   .warning {
//     display: none;
//   }
// }
