<ion-header>
  <header class="sticky top-0 z-50 h-20 bg-slate-50 shadow-xs shadow-slate-50">
    <nav>
      <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
          <div class="flex space-x-7">
            <!-- Website Logo -->
            <div class="">
              <a href="#" class="flex items-center py-4 px-2">
                <img
                  src="../../assets/img/512 icon.png"
                  alt="Logo"
                  class="h-12 w-12 mr-2 rounded-full shadow-lg"
                />
                <!-- <span class="font-semibold text-slate-600 text-xs"
                  >ZimboFit</span> -->
              </a>
            </div>
            <!-- Primary Navbar items -->
            <div class="hidden lg:flex items-center space-x-1">
              <a
                href="#hero"
                class="
                  nav
                  py-4
                  px-2
                 text-slate-600
                  font-semibold
                  hover:text-orange-500
                  transition
                  duration-300
                "
                data-target="hero"
                >Home</a
              >
              <a
                href="#about"
                data-target="about"
                class="
                  nav
                  py-4
                  px-2
                  text-slate-600
                  font-semibold
                  hover:text-orange-500
                  transition
                  duration-300
                "
                >About</a
              >
              <a
                href="#categories"
                data-target="categories"
                class="
                  nav
                  py-4
                  px-2
                  text-slate-600
                  font-semibold
                  hover:text-orange-500
                  transition
                  duration-300
                "
                >Categories</a
              >

              <a
                href="#trainers"
                data-target="trainers"
                class="
                  nav
                  py-4
                  px-2
                  text-slate-600
                  font-semibold
                  hover:text-orange-500
                  transition
                  duration-300
                "
                >Trainers</a
              >

              <a
                href="#contact"
                data-target="contact"
                class="
                  nav
                  py-4
                  px-2
                  text-slate-600
                  font-semibold
                  hover:text-orange-500
                  transition
                  duration-300
                "
                >Contact Us</a
              >
            </div>
          </div>
          <!-- Secondary Navbar items -->
          <div class="hidden lg:flex items-center space-x-3">
            <a
              href="/login"
              class="
                py-2
                px-2
                font-medium
                text-slate-600
                rounded
                hover:bg-orange-600 hover:text-white
                transition
                duration-300
              "
              >Log In</a
            >
            <a
              href=""
              class="
                py-2
                px-2
                font-medium
                text-white
                bg-orange-600
                rounded
                shadow-lg
                hover:bg-orange-400
                transition
                duration-300
              "
              >Sign Up</a
            >
          </div>
          <!-- Mobile menu button -->
          <div class="lg:hidden flex items-center">
            <button (click)="toggleMenu()" class="outline-none mobile-menu-button">
              <svg
                class="w-6 h-6 text-slate-600 hover:text-orange-600"
                x-show="!showMenu"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <!-- mobile menu -->
      <div id="mobile-menu" class="hidden mobile-menu z-20 bg-slate-50">
        <ul class="">
            <hr/>

          <li class="active">
            <a
              href="#home"
              data-target="hero"
              class="
                nav
                block
                text-sm
                px-2
                py-4
                hover:text-white hover:bg-orange-600
                transition
                duration-300
              "
              >Home</a
            >
          </li>

          <li>
            <a
              href="#about"
              data-target="about"
              class="
                nav
                block
                text-sm
                px-2
                py-4
                hover:text-white hover:bg-orange-600
                transition
                duration-300
              "
              >About</a
            >
          </li>
          <li>
            <a
              href="#categories"
              data-target="categories"
              class="
                nav
                block
                text-sm
                px-2
                py-4
                hover:text-white hover:bg-orange-600
                transition
                duration-300
              "
              >Categories</a
            >
          </li>
          <li>
            <a
              href="#trainers"
              data-target="trainers"
              class="
                nav
                block
                text-sm
                px-2
                py-4
                hover:bg-orange-600 hover:text-white
                transition
                duration-300
              "
              >Trainers</a
            >
          </li>
          <li>
            <a
              href="#contact"
              data-target="contact"
              class="
                nav
                block
                text-sm
                px-2
                py-4
                hover:text-white hover:bg-orange-600
                transition
                duration-300
              "
              >Contact Us</a
            >
          </li>
          <li>
            <hr/>
          </li>
          <li>
            <a
              href="/login"
              class="
                block
                text-sm
                px-2
                py-4
                hover:text-white hover:bg-orange-600
                transition
                duration-300
              "
              >Login</a
            >
          </li>
          <li>
            <a
              href="/signup"
              class="
                block
                text-sm
                px-2
                py-4
                hover:text-white hover:bg-orange-600
                transition
                duration-300
              "
              >Signup</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </header>
</ion-header>

<ion-content [fullscreen]="true" class="bg-slate-50 text-slate-600">
  <main>
    <!-- Hero Section -->
    <section id="hero" class="w-full my-4 relative text-slate-600 lg:h-[85vh]">
      <div
        class="
          flex flex-1
          mx-auto
          px-5
          max-w-xs
          sm:max-w-sm
          md:max-w-xl
          lg:max-w-3xl
          xl:max-w-4xl
        "
      >
        <div
          class="
            min-w-[300px]
            w-full
            h-full
            relative
            float-left
            lg:w-1/2 lg:mt-32 lg:h-[85vh]
          "
        >
          <h1
            class="
              font-bold
              title
              absolute
              translate-x-0 translate-y-0
              text-5xl
              lg:text-7xl
              xl:text-8xl xl:-translate-y-7
            "
          >
            ZimboFit
          </h1>
          <h1
            class="
              font-bold
              title
              absolute
              translate-x-0 translate-y-0
              text-5xl
              lg:text-7xl
              xl:text-8xl xl:-translate-y-7
            "
          >
            ZimboFit
          </h1>

          <img
            class="
              rounded-lg
              shadow-xl
              mt-20
              bg-slate-100
              h-96
              w-full
              object-cover object-center
              lg:hidden
            "
            src="../../assets/img/home/hero2.jpg"
            alt="hero bg"
          />
          <h1
            class="
              mt-12
              font-bold
              text-slate-600 text-xl
              tablet:text-2xl
              xl:text-3xl
              lg:mt-24
            "
          >
            Success isn’t always about
            <br class="hidden lg:inline" />
            <span class="text-orange-600">greatness.</span>
          </h1>
          <p
            class="
              my-5
              text-slate-400
              font-medium
              text-base
              tablet:text-lg
              sm:mt-4
              xl:text-xl
            "
          >
            It’s about consistency.Consistent hard work gains success.Greatness
            will come.
          </p>
          <div class="mt-8 mb-8 lg:mt-12">
            <a
              href=""
              class="
                px-6
                py-3
                rounded-full
                bg-orange-600
                text-white
                font-semibold
                shadow-xl
                xl:px-8 xl:py-4
                hover:bg-orange-400
              "
              >Get Started</a
            >
          </div>
        </div>
        <div class="hidden relative float-left lg:block lg:w-1/2 lg:h-[85vh]">
          <!-- <div class="hero-bg w-full h-full bg-orange-600"></div> -->
          <img
            src="../../assets/img/home/hero.png"
            alt="hero"
            class="w-full h-full"
          />
        </div>
      </div>
      <div class="-left-20 bottom-44 absolute -rotate-90 invisible lg:visible">
        <a
          href=""
          class="no-underline mr-5 font-extralight text-orange-600 text-sm"
          >FACEBOOK</a
        >
        <a
          href=""
          class="no-underline mr-5 font-extralight text-orange-600 text-sm"
          >INSTAGRAM</a
        >
        <a
          href=""
          class="no-underline mr-5 font-extralight text-orange-600 text-sm"
          >TWITTER</a
        >
      </div>
    </section>

    <!-- About Section -->
    <section id="about" class="relative py-20 bg-slate-900 text-white">
      <div class="container mx-auto px-4">
        <div class="items-center flex flex-wrap">
          <div class="w-full fadeInLeft lg:w-4/12 ml-auto mr-auto px-4">
            <img
              alt="..."
              class="max-w-full rounded-lg shadow-lg"
              src="https://images.unsplash.com/photo-1550345332-09e3ac987658?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
            />
          </div>
          <div
            class="
              w-full
              fadeInRight
              mt-10
              lg:mt-0 lg:w-5/12
              ml-auto
              mr-auto
              px-4
            "
          >
            <div class="lg:pr-12">
              <h1 class="font-semibold text-orange-600 text-sm uppercase">
                About our gym
              </h1>
              <h3 class="text-4xl uppercase font-bold">Safe Body Building</h3>
              <p class="mt-4 text-lg leading-relaxed">
                The extension comes with three pre-built pages to help you get
                started faster. You can change the text and images and you're
                good to go.
              </p>
              <ul class="list-none mt-6">
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="
                          font-semibold
                          inline-block
                          py-3
                          mr-3
                          text-orange-600
                        "
                        ><i class="fas fa-dumbbell fa-2x"></i
                      ></span>
                    </div>
                    <div>
                      <h4 class="text-xl">
                        The latest & greatest gym equipment
                      </h4>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="
                          font-semibold
                          inline-block
                          py-3
                          mr-3
                          text-orange-600
                        "
                        ><i class="fas fa-hard-hat fa-2x"></i
                      ></span>
                    </div>
                    <div>
                      <h4 class="text-xl">
                        5-inch, quality foam floor padding
                      </h4>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="flex items-center">
                    <div>
                      <span
                        class="
                          font-semibold
                          inline-block
                          py-3
                          mr-3
                          text-orange-600
                        "
                        ><i class="fas fa-users fa-2x"></i
                      ></span>
                    </div>
                    <div>
                      <h4 class="text-xl">
                        {{numoftrainers}} professional trainers
                      </h4>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Categories Section -->
    <section
      id="categories"
      class="h-full py-20 px-[10vw] bg-slate-100 text-slate-600"
    >
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold uppercase">Categories</h2>
          <p class="text-lg leading-relaxed m-4">
            Our trainers are are here to dedicate the time and effort that you
            need to get in the best shape of your life
          </p>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-5 fadeInBottom lg:grid-cols-3">
        <div *ngFor="let category of categories" class="p-4 w-full">
          <div
            class="
              h-full
              border-2 border-slate-200
              shadow-lg
              rounded-lg
              bg-white
            "
          >
            <img
              class="
                lg:h-48
                tablet:h-36
                phone:h-28
                w-full
                object-cover object-center
                rounded-t-lg
              "
              src="../../assets/img/home/category.jpg"
              alt="category.name"
            />
            <div class="p-6 h-44 mb-3 relative">
              <h2
                class="
                  tracking-widest
                  text-xs
                  title-font
                  font-medium
                  text-slate-400
                  mb-1
                "
              >
                CATEGORY
              </h2>
              <h1 class="title-font text-lg font-medium mb-3">
                {{category.name}}
              </h1>
              <p class="leading-relaxed mb-3 line-clamp-2 text-ellipsi">
                {{category.description}}
              </p>
              <div class="flex items-center flex-wrap absolute bottom-0">
                <a
                  class="
                    text-orange-500
                    inline-flex
                    items-center
                    md:mb-2
                    lg:mb-0
                  "
                  >Read More
                  <svg
                    class="w-4 h-4 ml-2"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Trainers Section -->
    <section id="trainers" class="py-20 px-[10vw] bg-slate-900 text-white">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold uppercase">Meet Our Trainers</h2>
          <p class="text-lg leading-relaxed m-4">
            Our trainers are are here to dedicate the time and effort that you
            need to get in the best shape of your life
          </p>
        </div>
      </div>
      <!-- Trainer Card Container -->
      <div class="grid grid-cols-1 gap-5 fadeInBottom lg:grid-cols-4">
        <div
          *ngFor="let trainer of trainers"
          class="
            p-4
            h-96
            w-4/6
            mx-auto
            overflow-hidden
            relative
            lg:h-96 lg:w-full
          "
        >
          <img
            src="{{trainer.image_url}}"
            alt="{{trainer.name}}"
            class="
              top-0
              left-0
              absolute
              w-full
              h-[85%]
              object-cover
              shadow-lg
              rounded-lg
            "
          />
          <div class="absolute h-[15%] left-0 bottom-0 text-center w-full p-5">
            <h3 class="font-semibold text-white text-base uppercase">
              {{trainer.name}}
            </h3>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Header Section -->
    <section id="contact" class="relative block bg-slate-100 text-slate-900">
      <div class="container mx-auto px-4 lg:pt-24 lg:pb-64 pb-20 pt-20">
        <div class="flex flex-wrap text-center justify-center">
          <div class="w-full lg:w-6/12 px-4">
            <h2 class="text-4xl font-semibold uppercase">Contact Us</h2>
            <p class="text-lg leading-relaxed mt-4 mb-4">
              Contact us to ask any questions, aquire a membership, talk to our
              trainers or anything else
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Form -->
    <section class="relative block pt-10 pb-20 bg-slate-100">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
          <div class="w-full lg:w-6/12 px-4">
            <div
              class="
                relative
                flex flex-col
                min-w-0
                break-words
                w-full
                mb-6
                shadow-lg
                rounded-lg
                bg-slate-300
                fadeInBottom
              "
            >
              <div class="flex-auto p-5 lg:p-10 bg-orange-600 text-white">
                <h4 class="text-2xl font-semibold">Want to work with us?</h4>
                <p class="leading-relaxed mt-1 mb-4">
                  Complete this form and we will get back to you in 24 hours.
                </p>
                <div class="relative w-full mb-3 mt-8">
                  <label
                    class="block uppercase text-xs font-bold mb-2"
                    for="full-name"
                    >Full Name</label
                  ><input
                    type="text"
                    class="
                      px-3
                      py-3
                      placeholder-slate-400
                      bg-white
                      rounded
                      text-sm
                      shadow
                      focus:outline-none focus:shadow-outline
                      w-full
                    "
                    placeholder="Full Name"
                    style="transition: all 0.15s ease 0s"
                  />
                </div>
                <div class="relative w-full mb-3">
                  <label
                    class="block uppercase text-xs font-bold mb-2"
                    for="email"
                    >Email</label
                  ><input
                    type="email"
                    class="
                      px-3
                      py-3
                      placeholder-slate-400
                      bg-white
                      rounded
                      text-sm
                      shadow
                      focus:outline-none focus:shadow-outline
                      w-full
                    "
                    placeholder="Email"
                    style="transition: all 0.15s ease 0s"
                  />
                </div>
                <div class="relative w-full mb-3">
                  <label
                    class="block uppercase text-xs font-bold mb-2"
                    for="message"
                    >Message</label
                  ><textarea
                    rows="4"
                    cols="80"
                    class="
                      px-3
                      py-3
                      placeholder-slate-400
                      bg-white
                      rounded
                      text-sm
                      shadow
                      focus:outline-none focus:shadow-outline
                      w-full
                    "
                    placeholder="Type a message..."
                  ></textarea>
                </div>
                <div class="text-center mt-6">
                  <button
                    class="
                      bg-slate-900
                      text-white
                      active:bg-slate-700
                      text-sm
                      font-bold
                      uppercase
                      px-6
                      py-3
                      rounded
                      shadow
                      hover:shadow-lg
                      outline-none
                      focus:outline-none
                      mr-1
                      mb-1
                    "
                    type="button"
                    style="transition: all 0.15s ease 0s"
                  >
                    Send Message
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="relative pt-8 pb-6 bg-slate-200 text-slate-900">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4">
          <h4 class="text-3xl font-semibold">Follow us on social media</h4>
          <h5 class="text-lg mt-0 mb-2 text-slate-600">
            Find us on any of these platforms, we respond 1-2 business days.
          </h5>
          <div class="mt-6">
            <button
              class="
                bg-orange-600
                shadow-lg
                font-normal
                h-10
                w-10
                items-center
                justify-center
                align-center
                rounded-full
                outline-none
                focus:outline-none
                mr-2
                p-3
              "
              type="button"
            >
              <ion-icon
                class="flex text-white"
                name="logo-twitter"
              ></ion-icon></button
            ><button
              class="
                bg-orange-600
                shadow-lg
                font-normal
                h-10
                w-10
                items-center
                justify-center
                align-center
                rounded-full
                outline-none
                focus:outline-none
                mr-2
                p-3
              "
              type="button"
            >
              <ion-icon
                class="flex text-white"
                name="logo-facebook"
              ></ion-icon></button
            ><button
              class="
                bg-orange-600
                shadow-lg
                font-normal
                h-10
                w-10
                items-center
                justify-center
                align-center
                rounded-full
                outline-none
                focus:outline-none
                mr-2
                p-3
              "
              type="button"
            >
              <ion-icon
                class="flex text-white"
                name="logo-instagram"
              ></ion-icon>
            </button>
          </div>
        </div>
      </div>
      <hr class="my-6 border-slate-300" />
      <div
        class="flex flex-wrap items-center md:justify-between justify-center"
      >
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="text-sm text-slate-600 font-semibold py-1">
            Copyright © ZimboFit
          </div>
        </div>
      </div>
    </div>
  </footer>
</ion-content>
