<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button appBackbutton>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <!-- <ion-button (click)="sidenavOpen()">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-title>Menu Plan</ion-title>
  </ion-toolbar>
</ion-header>
<ion-menu
  contentId="main-content-mealplan"
  menuId="menu-content-mealplan"
  side="start"
  type="overlay"
>
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Awesome avocado menu</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-content>
    <div class="sidenav" id="sidenav">
      <ul>
          <li class="user flex justify-center items-center">
          <div class="text-center">
            <img [src]="user?.photoUrl ||'assets/img/man-05.svg'" alt="User" />
            <p>{{user?.name || 'John Doe'}}</p>
          </div>
        </li>
        <li class="divider"></li>
        <li
          *ngFor="let item of appPages"
          class="item"
          [ngClass]="item.title === page ? 'active': ''"
        >
          <a routerLink="{{item.url}}">{{item.title}}</a>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-menu>
<ion-content id="main-content-mealplan">
  <ion-item-group>
    <ion-item-divider sticky class="bg-slate-200">
      <ion-label class="font-semibold m-5">
        <span class="text-xl text-primary uppercase">Day 1 </span>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <div class="card-wrapper mt-5 grid grid-cols-1 gap-0">
        <div class="card py-2">
          <div class="card_image ml-1">
            <img src="assets/img/home/Lifestyle 05.jpg" alt="" />
          </div>
          <div class="card_text ml-3 p-2">
            <h2 class="text-base text-primary">BREAKFAST</h2>
            <h1 class="text-base text-slate-900">KETO BUTTER COFFEE SHAKE</h1>
          </div>
        </div>
        <div class="m-2 h-3 relative w-full overflow-hidden">
          <div class="w-full h-full bg-slate-50 absolute inset-0"></div>
          <div class="h-full flex relative w-full">
            <div class="h-full bg-blue-500 relative w-3/4"></div>
            <div class="h-full bg-orange-500 relative w-1/5"></div>
            <div class="h-full bg-slate-700 relative w-[5%]"></div>
          </div>
        </div>

        <div class="w-full font-semibold text-lg p-2">
          <div class="flex justify-between w-full font-semibold text-sm">
            <span class="text-blue-500">75% FAT</span>
            <span class="text-orange-500">20% PROTEIN</span>
            <span class="text-slate-700">5% CARBS</span>
          </div>
          <span>200 CALORIES</span>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="card-wrapper mt-5 grid grid-cols-1 gap-0">
        <div class="card py-2">
          <div class="card_image ml-1">
            <img src="assets/img/home/Lifestyle 05.jpg" alt="" />
          </div>
          <div class="card_text ml-3 p-2">
            <h2 class="text-base text-primary">LUNCH</h2>
            <h1 class="text-base text-slate-900">KETO BUTTER COFFEE SHAKE</h1>
          </div>
        </div>
        <div class="m-2 h-3 relative w-full overflow-hidden">
          <div class="w-full h-full bg-slate-50 absolute inset-0"></div>
          <div class="h-full flex relative w-full">
            <div class="h-full bg-blue-500 relative w-3/4"></div>
            <div class="h-full bg-orange-500 relative w-1/5"></div>
            <div class="h-full bg-slate-700 relative w-[5%]"></div>
          </div>
        </div>

        <div class="w-full font-semibold text-lg p-2">
          <div class="flex justify-between w-full font-semibold text-sm">
            <span class="text-blue-500">75% FAT</span>
            <span class="text-orange-500">20% PROTEIN</span>
            <span class="text-slate-700">5% CARBS</span>
          </div>
          <span>200 CALORIES</span>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="card-wrapper mt-5 grid grid-cols-1 gap-0">
        <div class="card py-2">
          <div class="card_image ml-1">
            <img src="assets/img/home/Lifestyle 05.jpg" alt="" />
          </div>
          <div class="card_text ml-3 p-2">
            <h2 class="text-base text-primary">DINNER</h2>
            <h1 class="text-base text-slate-900">KETO BUTTER COFFEE SHAKE</h1>
          </div>
        </div>
        <div class="m-2 h-3 relative w-full overflow-hidden">
          <div class="w-full h-full bg-slate-50 absolute inset-0"></div>
          <div class="h-full flex relative w-full">
            <div class="h-full bg-blue-500 relative w-3/4"></div>
            <div class="h-full bg-orange-500 relative w-1/5"></div>
            <div class="h-full bg-slate-700 relative w-[5%]"></div>
          </div>
        </div>

        <div class="w-full font-semibold text-lg p-2">
          <div class="flex justify-between w-full font-semibold text-sm">
            <span class="text-blue-500">75% FAT</span>
            <span class="text-orange-500">20% PROTEIN</span>
            <span class="text-slate-700">5% CARBS</span>
          </div>
          <span>200 CALORIES</span>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="card-wrapper mt-5 grid grid-cols-1 gap-0">
        <div class="card py-2">
          <div class="card_image ml-1">
            <img src="assets/img/home/Lifestyle 05.jpg" alt="" />
          </div>
          <div class="card_text ml-3 p-2">
            <h2 class="text-base text-primary">SNACKS</h2>
            <h1 class="text-base text-slate-900">KETO BUTTER COFFEE SHAKE</h1>
          </div>
        </div>
        <div class="m-2 h-3 relative w-full overflow-hidden">
          <div class="w-full h-full bg-slate-50 absolute inset-0"></div>
          <div class="h-full flex relative w-full">
            <div class="h-full bg-blue-500 relative w-3/4"></div>
            <div class="h-full bg-orange-500 relative w-1/5"></div>
            <div class="h-full bg-slate-700 relative w-[5%]"></div>
          </div>
        </div>

        <div class="w-full font-semibold text-lg p-2">
          <div class="flex justify-between w-full font-semibold text-sm">
            <span class="text-blue-500">75% FAT</span>
            <span class="text-orange-500">20% PROTEIN</span>
            <span class="text-slate-700">5% CARBS</span>
          </div>
          <span>200 CALORIES</span>
        </div>
      </div>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider sticky class="bg-slate-200">
      <ion-label class="font-semibold m-5">
        <span class="text-xl text-primary uppercase">Day 2 </span>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <div class="card-wrapper mt-5 grid grid-cols-1 gap-0">
        <div class="card py-2">
          <div class="card_image ml-1">
            <img src="assets/img/home/Lifestyle 05.jpg" alt="" />
          </div>
          <div class="card_text ml-3 p-2">
            <h2 class="text-base text-primary">BREAKFAST</h2>
            <h1 class="text-base text-slate-900">KETO BUTTER COFFEE SHAKE</h1>
          </div>
        </div>
        <div class="m-2 h-3 relative w-full overflow-hidden">
          <div class="w-full h-full bg-slate-50 absolute inset-0"></div>
          <div class="h-full flex relative w-full">
            <div class="h-full bg-blue-500 relative w-3/4"></div>
            <div class="h-full bg-orange-500 relative w-1/5"></div>
            <div class="h-full bg-slate-700 relative w-[5%]"></div>
          </div>
        </div>

        <div class="w-full font-semibold text-lg p-2">
          <div class="flex justify-between w-full font-semibold text-sm">
            <span class="text-blue-500">75% FAT</span>
            <span class="text-orange-500">20% PROTEIN</span>
            <span class="text-slate-700">5% CARBS</span>
          </div>
          <span>200 CALORIES</span>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="card-wrapper mt-5 grid grid-cols-1 gap-0">
        <div class="card py-2">
          <div class="card_image ml-1">
            <img src="assets/img/home/Lifestyle 05.jpg" alt="" />
          </div>
          <div class="card_text ml-3 p-2">
            <h2 class="text-base text-primary">LUNCH</h2>
            <h1 class="text-base text-slate-900">KETO BUTTER COFFEE SHAKE</h1>
          </div>
        </div>
        <div class="m-2 h-3 relative w-full overflow-hidden">
          <div class="w-full h-full bg-slate-50 absolute inset-0"></div>
          <div class="h-full flex relative w-full">
            <div class="h-full bg-blue-500 relative w-3/4"></div>
            <div class="h-full bg-orange-500 relative w-1/5"></div>
            <div class="h-full bg-slate-700 relative w-[5%]"></div>
          </div>
        </div>

        <div class="w-full font-semibold text-lg p-2">
          <div class="flex justify-between w-full font-semibold text-sm">
            <span class="text-blue-500">75% FAT</span>
            <span class="text-orange-500">20% PROTEIN</span>
            <span class="text-slate-700">5% CARBS</span>
          </div>
          <span>200 CALORIES</span>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="card-wrapper mt-5 grid grid-cols-1 gap-0">
        <div class="card py-2">
          <div class="card_image ml-1">
            <img src="assets/img/home/Lifestyle 05.jpg" alt="" />
          </div>
          <div class="card_text ml-3 p-2">
            <h2 class="text-base text-primary">DINNER</h2>
            <h1 class="text-base text-slate-900">KETO BUTTER COFFEE SHAKE</h1>
          </div>
        </div>
        <div class="m-2 h-3 relative w-full overflow-hidden">
          <div class="w-full h-full bg-slate-50 absolute inset-0"></div>
          <div class="h-full flex relative w-full">
            <div class="h-full bg-blue-500 relative w-3/4"></div>
            <div class="h-full bg-orange-500 relative w-1/5"></div>
            <div class="h-full bg-slate-700 relative w-[5%]"></div>
          </div>
        </div>

        <div class="w-full font-semibold text-lg p-2">
          <div class="flex justify-between w-full font-semibold text-sm">
            <span class="text-blue-500">75% FAT</span>
            <span class="text-orange-500">20% PROTEIN</span>
            <span class="text-slate-700">5% CARBS</span>
          </div>
          <span>200 CALORIES</span>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="card-wrapper mt-5 grid grid-cols-1 gap-0">
        <div class="card py-2">
          <div class="card_image ml-1">
            <img src="assets/img/home/Lifestyle 05.jpg" alt="" />
          </div>
          <div class="card_text ml-3 p-2">
            <h2 class="text-base text-primary">SNACKS</h2>
            <h1 class="text-base text-slate-900">KETO BUTTER COFFEE SHAKE</h1>
          </div>
        </div>
        <div class="m-2 h-3 relative w-full overflow-hidden">
          <div class="w-full h-full bg-slate-50 absolute inset-0"></div>
          <div class="h-full flex relative w-full">
            <div class="h-full bg-blue-500 relative w-3/4"></div>
            <div class="h-full bg-orange-500 relative w-1/5"></div>
            <div class="h-full bg-slate-700 relative w-[5%]"></div>
          </div>
        </div>

        <div class="w-full font-semibold text-lg p-2">
          <div class="flex justify-between w-full font-semibold text-sm">
            <span class="text-blue-500">75% FAT</span>
            <span class="text-orange-500">20% PROTEIN</span>
            <span class="text-slate-700">5% CARBS</span>
          </div>
          <span>200 CALORIES</span>
        </div>
      </div>
    </ion-item>
  </ion-item-group>
  <ion-item>
    <div class="card-wrapper mt-5 grid grid-cols-1 mt-5">
      <div class="desc w-full font-light text-sm p-2">
        100 calories plus up: 1oz brie cheese and 1 medium egg fried in ½ Tbsp
        butter, and 1 slice bacon 200 calories plus up: 25 pistachios + 1oz
        gouda and 1 serving ZonePerfect Keto shake + large mug of strong coffee,
        and 1 cup cauliflower sauteed in 1 Tbsp oil and topped with 2Tbsp whole
        milk mozzarella 300 calories plus up: 3oz broiled salmon topped with 1
        Tbsp olive oil and spices and ¼ cup deluxe mixed nuts + 5 slices deli
        salami
      </div>
    </div>
  </ion-item>
</ion-content>
