<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-content>
    <div class="sidenav" id="sidenav">
      <ul>
        <li class="center user">
          <img src="assets/img/man-05.svg" alt="User" />
          <p>John Doe</p>
        </li>
        <li class="divider"></li>
        <li class="title">Links</li>
        <li class="item active">
          <a routerLink="/home/dashboard">Dashboard</a>
        </li>
        <li class="item"><a routerLink="/home/programs">Programs</a></li>
        <li class="item"><a routerLink="/home/workouts">Workouts</a></li>
        <li class="item"><a routerLink="/home/dashboard">Settings</a></li>
        <li class="item"><a routerLink="/home/dashboard">Support</a></li>
        <!-- <li class="divider"></li>
        <li class="title">Projects</li>
        <li class="item"><a href="#">Project 1</a></li>
        <li class="item"><a href="#">Project 2</a></li>
        <li class="item"><a href="#">Project 3</a></li> -->
      </ul>
    </div>
  </ion-content>
</ion-menu>

<ion-content id="main">
  <div class="grid-container">
    <header class="header">
      <app-menu-icon (clicked)="sidenavOpen()"></app-menu-icon>
      <div class="avatar">
        <ion-img src="../../../assets/img/man-05.svg"></ion-img>
      </div>
    </header>
    <main class="main-content">
      <div class="main-overview">
        <app-workout-stats
          *ngFor="let myworkout of myworkouts$"
          [item]="myworkout"
          (clicked)="goToWorkoutPage(myworkout.id)"
        ></app-workout-stats>
      </div>
      <div class="sub-header">Programs</div>
      <div class="programs">
        <div class="scroll">
          <app-program-card
            *ngFor="let program of programs$"
            [item]="program"
            (clicked)="goToProgramPage(program.id)"
          ></app-program-card>
        </div>
      </div>

      <div class="sub-header">Picks for you</div>
      <div class="main-cards">
        <div class="card">
          <app-workout-card
            *ngFor="let workout of workouts$"
            [item]="workout"
            (clicked)="goToWorkoutPage(workout.id)"
          ></app-workout-card>
        </div>
      </div>
    </main>
  </div>
</ion-content>
