<ion-card>
  <!-- <ion-card-header>
      Line Chart
    </ion-card-header> -->
  <ion-card-content>
    <canvas #lineCanvas></canvas>
    <!-- <div class="chart-wrapper" style="height:300px;margin-top:40px;">
      <canvas baseChart class="chart"
      [datasets]="mainChartData"
      [labels]="mainChartLabels"
      [options]="mainChartOptions"
      [colors]="mainChartColours"
      [legend]="mainChartLegend"
      [chartType]="mainChartType"></canvas>
    </div> -->
  </ion-card-content>
</ion-card>