<ion-content>
  <div class="header">
    <div class="image-bg">
      <img src="{{program?.image_url}}" alt="{{program?.name}}" srcset="" />
    </div>
    <div class="overlay">
      <ion-buttons slot="start">
        <ion-button appBackbutton>
          <ion-icon
            slot="icon-only"
            color="primary-shade"
            name="arrow-back"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons>
        <ion-button>
          <ion-icon slot="icon-only" color="primary-shade" name="heart"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>
  <div class="container">
    <div class="pricing">
      <h2>{{program?.name}}</h2>
      <h1><sup>$</sup>{{program?.price|number:'1.2'}}</h1>
      <!-- <h1><sup>$</sup>3.00</h1> -->
    </div>
    <h1 class="desc">Description</h1>
    <p>{{program?.description}}</p>
  </div>

  <div class="content">
    <div class="sub-header">Trainer</div>
    <div class="trainer">
      <app-trainer-profile
        [trainer]="program?.trainer"
        [hover]="hover$"
        (clicked)="hover()"
      ></app-trainer-profile>
    </div>
    <div class="sub-header">Workouts</div>
    <div class="main-cards">
      <div class="card">
        <app-workout-card2
          *ngFor="let workout of workouts$"
          [item]="workout"
          (clicked)="goToWorkoutDetailPage(workout.id)"
        ></app-workout-card2>
      </div>
    </div>
  </div>
</ion-content>
