<ion-content>
 <div class="header">
    <div class="image-bg">
      <img src="{{program?.image_url}}" alt="{{program?.name}}" srcset="" />
    </div>
    <div class="overlay">
      <a routerLink="/home/dashboard">
        <ion-icon slot="start" name="arrow-back"></ion-icon
      ></a>
    </div>
  </div>
  <div class="container">
    <div class="pricing">
      <h2>{{program?.name}}</h2>
      <h1><sup>$</sup>{{program?.price|number:'1.2'}}</h1>
      <!-- <h1><sup>$</sup>3.00</h1> -->
    </div>
    <h1 class="desc">Description</h1>
    <p>{{program?.description}}</p>
    <div class="container__text__timing">
      <!-- <div class="container__text__timing_time">
        <h2>Hands-on Time</h2>
        <p>30 min</p>
      </div> -->
      <div class="container__text__timing_time">
        <h2>Total Time</h2>
        <p>40 days</p>
      </div>
      <div class="container__text__timing_time">
        <h2>kCal</h2>
        <p>40</p>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="sub-header">Workouts</div>
    <div class="main-cards">
      <div class="card">
        <app-workout-card2
          *ngFor="let workout of workouts$"
          [item]="workout"
          (clicked)="goToWorkoutDetailPage(workout.workout_id)"
        ></app-workout-card2>
      </div>
    </div>
  </div>
</ion-content>
