<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="sidenavOpen()">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-menu
  contentId="main-content-prof-edit"
  menuId="menu-content-prof-edit"
  side="start"
  type="overlay"
>
  <ion-content>
    <div class="sidenav" id="sidenav">
      <ul>
        <li class="user flex justify-center items-center">
          <div class="text-center">
            <img [src]="user?.photoUrl ||'assets/img/man-05.svg'" alt="User" />
            <p>{{user?.name || 'John Doe'}}</p>
          </div>
        </li>
        <li class="divider"></li>
        <li
          *ngFor="let item of appPages"
          class="item"
          [ngClass]="item.title === page ? 'active': ''"
        >
          <a routerLink="{{item.url}}">{{item.title}}</a>
        </li>

        <!-- <li class="divider"></li>
        <li class="title">Projects</li>
        <li class="item"><a href="#">Project 1</a></li>
        <li class="item"><a href="#">Project 2</a></li>
        <li class="item"><a href="#">Project 3</a></li> -->
      </ul>
    </div>
  </ion-content>
</ion-menu>
<ion-content id="main-content-prof-edit">
  <div class="app">
    <header class="header flex items-center justify-center" role="banner">
      <div class="header-item__img">
        <img [src]="user?.image_url || 'assets/img/dashboard.png'" />
      </div>
    </header>
    <div class="wrapper flex items-center justify-center">
      <form [formGroup]="form" (ngSubmit)="submit()" id="form">
        <ion-item *ngFor="let item of fields" class="ion-margin-bottom">
          <ion-label color="primary"
            >{{item.templateOptions.label}}:
          </ion-label>
          <ion-input
            *ngIf="item.type === 'input'"
            [formControlName]="item.key"
            [type]="item.templateOptions.type"
            [placeholder]="item.templateOptions.placeholder"
            (required)="item.templateOptions.required"
            value=""
          ></ion-input>
          <ion-select
            *ngIf="item.type === 'select'"
            [formControlName]="item.key"
            [interfaceOptions]="selectOptions"
            [placeholder]="item.templateOptions.placeholder"
            (required)="item.templateOptions.required"
            value=""
            [multiple]="item.templateOptions.multiple"
          >
            <ion-select-option
              *ngFor="let option of item.templateOptions.options"
              [value]="{name: option.name, id: option.id}"
            >
              {{ option.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button
          type="submit"
          [disabled]="!form?.valid"
          shape="round"
          class="btn btn-primary"
          >Update</ion-button
        >
      </form>
    </div>
  </div>
</ion-content>
