ion-item-divider {
  --background: var(--ion-color-light);
}
.card {
  width: 100%;
  display: flex;
  .card_image {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    box-shadow: 1px 1px 6px 1.2px rgba(0, 0, 0, 0.25),
      -1px -1px 6px 1.2px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
    img {
      width: inherit;
      height: inherit;
      border-radius: 20px;
      object-fit: cover;
    }
  }
}
.card-image:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}
