/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
// @import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  font-family: "Plex";
}

ion-searchbar {
  .searchbar-input-container {
    height: 56px !important;
    input {
      padding-top: 14px !important;
      padding-left: 40px !important;
      padding-bottom: 12px !important;
      font-size: 18px !important;
    }
    .searchbar-search-icon {
      top: 15px !important;
      left: 10px !important;
      width: 25px;
      height: 25px;
    }
  }
}

app-category-item {
  flex: 0 0 auto;
  margin-right: 20px;
}
.filter-orange {
  filter: invert(56%) sepia(25%) saturate(5625%) hue-rotate(350deg)
    brightness(98%) contrast(98%);
}
.filter-orange-contrast {
  filter: invert(89%) sepia(13%) saturate(1195%) hue-rotate(325deg)
    brightness(102%) contrast(99%);
}
.filter-orange-light {
  filter: invert(61%) sepia(75%) saturate(689%) hue-rotate(333deg)
    brightness(102%) contrast(97%);
}
.filter-orange-dark {
  filter: invert(38%) sepia(78%) saturate(1260%) hue-rotate(354deg)
    brightness(92%) contrast(100%);
}
.filter-slate {
  filter: invert(19%) sepia(54%) saturate(360%) hue-rotate(174deg)
    brightness(98%) contrast(85%);
}
.filter-slate-contrast {
  filter: invert(97%) sepia(3%) saturate(1790%) hue-rotate(182deg)
    brightness(100%) contrast(88%);
}
.filter-slate-light {
  filter: invert(48%) sepia(17%) saturate(541%) hue-rotate(176deg)
    brightness(89%) contrast(93%);
}
.filter-slate-dark {
  filter: invert(8%) sepia(11%) saturate(3544%) hue-rotate(185deg)
    brightness(91%) contrast(97%);
}
.filter-white {
  filter: invert(92%) sepia(79%) saturate(15%) hue-rotate(11deg)
    brightness(105%) contrast(100%);
}
.filter-off-white {
  filter: invert(86%) sepia(1%) saturate(1855%) hue-rotate(196deg)
    brightness(115%) contrast(97%);
}
