ion-header {
  ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-secondary-contrast);

    ion-buttons {
      // ion-back-button {
      //   --color: var(--ion-color-secondary-contrast);
      //   --color-focused: var(--ion-color-secondary-contrast);
      //   --color-hover: var(--ion-color-secondary-contrast);
      // }
      ion-button,
      ion-back-button {
        --background: var(--ion-color-primary);
        --background-activated: var(--ion-color-primary);
        --background-activated-opacity: 1;
        --background-focused: var(--ion-color-primary);
        --background-focused-opacity: 1;
        --background-hover: var(--ion-color-primary);
        --background-hover-opacity: 1;
        --border-color: var(--ion-color-primary);
        --border-radius: 8px;
        --border-style: solid;
        --border-width: 8px;
        --color: var(--ion-color-secondary-contrast);
        --color-activated: var(--ion-color-secondary-shade);
        --color-focused: var(--ion-color-secondary-shade);
        --color-hover: var(--ion-color-secondary-shade);
        --opacity: 1;
        --padding-bottom: 4px;
        --padding-end: 4px;
        --padding-start: 4px;
        --padding-top: 4px;
        --ripple-color: var(--ion-color-primary-tint);
        --transition: background-color 15ms linear;
      }
    }
  }
}
ion-content {
  .select {
    padding: 20px;
    padding-bottom: 0px;
    ion-item {
      border-radius: 50px;
      height: 55px;
      box-shadow: 1px 8px 8px 0px rgba(var(--ion-color-secondary-rgb), 0.08);
      --highlight-height: 0px;

      --background: var(--ion-color-light);
      ion-label {
        --color: var(--ion-color-primary);
      }
      ion-input,
      ion-select {
        font-size: 20px;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-start: 5px;
      }
      a {
        font-size: 17px;
        letter-spacing: 0.5px;
        text-decoration: none;
      }
    }
  }
}
