ion-tab-bar {
  padding: 10px 0;
  --background: var(--ion-color-primary-shade);
  --color: var(--ion-color-primary-tint);
  ion-tab-button {
    font-size: 1.7rem;
    --background-focused: var(--ion-color-secondary-contrast);
    --color-focused: var(--ion-color-primary-contrast);
    --color-selected: var(--ion-color-primary-contrast);
  }
}
