<ion-item (click)="clicked.emit()">
  <div slot="start" class="image">
    <img
      src="{{ workout?.image_url || 'assets/img/placeholder.png' }}"
      alt="{{ workout?.name }}"
    />
  </div>
  <div class="container">
    <div class="title">
      <h1>{{ workout?.name }}</h1>
      <h2 *ngIf="priceTag">
        <span *ngIf="!workout?.price">Free</span>
        <span *ngIf="workout?.price">{{ workout?.price | currency }}</span>
      </h2>
      <!-- <h1><sup>$</sup>3.00</h1> -->
    </div>

    <div class="reviews">
      <app-rating
        [targetId]="workout?.id"
        targetType="workout"
        [targetName]="workout?.name"
        (disabledPage)="(true)"
      ></app-rating>
      <app-like
        [targetId]="workout?.id"
        targetType="workout"
        [targetName]="workout?.name"
        (disabledPage)="(true)"
      ></app-like>
    </div>
  </div>
</ion-item>
