<ion-item (click)="clicked.emit()">
  <div class="card py-5 px-1 grid grid-cols-7 gap-5">
    <div class="card_image ml-1 col-span-2">
      <img src="assets/img/home/Lifestyle 05.jpg" alt="" />
    </div>

    <div class="card_text col-span-5">
      <div class="pricing">
        <h1>{{ workout?.name }}</h1>
        <h2 class="ml-2">
          <span *ngIf="!workout?.price">Free</span>
          <span *ngIf="workout?.price">{{ workout?.price | currency }}</span>
        </h2>
      </div>
      <app-rating
        [targetId]="workout?.id"
        targetType="workout"
        [targetName]="workout?.name"
        (disabledPage)="(true)"
      ></app-rating>
      <app-like
        [targetId]="workout?.id"
        targetType="workout"
        [targetName]="workout?.name"
        (disabledPage)="(true)"
      ></app-like>
    </div>
  </div>
</ion-item>
