<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="sidenavOpen()">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="avatar" *ngIf="user">
      <ion-img src="assets/img/man-05.svg"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>
<ion-menu
  contentId="main-content"
  menuId="menu-content"
  side="start"
  type="overlay"
>
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Awesome avocado menu</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-content>
    <div class="sidenav" id="sidenav">
      <ul>
        <li class="center user">
          <img src="assets/img/man-05.svg" alt="User" />
          <p>John Doe</p>
        </li>
        <li class="divider"></li>
        <li class="title">Links</li>
        <li
          *ngFor="let item of appPages"
          class="item"
          [ngClass]="item.title === page ? 'active': ''"
        >
          <a routerLink="{{item.url}}">{{item.title}}</a>
        </li>

        <!-- <li class="divider"></li>
        <li class="title">Projects</li>
        <li class="item"><a href="#">Project 1</a></li>
        <li class="item"><a href="#">Project 2</a></li>
        <li class="item"><a href="#">Project 3</a></li> -->
      </ul>
    </div>
  </ion-content>
</ion-menu>
<ion-content id="main-content">
  <ion-list *ngIf="workouts?.length" lines="none">
    <ion-item-sliding
      *ngFor="let workout of workouts"
      #slidingItem
      [attr.track]="workout?.category_name | lowercase"
    >
      <ion-item (click)="onStart(workout)">
        <app-user-workout-card [item]="workout"></app-user-workout-card>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="onDelete(workout)">
          <ion-icon color="danger" name="trash-outline" size="large">
          </ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-card *ngIf="workouts && !workouts?.length">
    <ion-card-header>
      <h3 text-center>No Scheduled Workouts Yet</h3>
    </ion-card-header>
    <ion-list>
      <ion-item lines="full" routerLink="/app/tabs/workouts">
        View Workouts
      </ion-item>
      <ion-item lines="full" routerLink="/app/tabs/programs">
        View Programs
      </ion-item>
      <ion-item lines="full" routerLink="/app/tabs/trainers">
        View Trainers
      </ion-item>
      <ion-item lines="none" routerLink="/app/tabs/exercises">
        View Exercises
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="!user">
    <ion-card-header>
      <h3 text-center>Not Logged In</h3>
    </ion-card-header>
    <ion-card-content>
      <p>Please Login to Save and Schedule workouts 💪</p>
      <ion-button size="block" routerLink="/login"> Login </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
